---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import DateFormat from '../components/dateFormat.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import Link from '../components/Link.astro';

const blogs = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)

const weekly = (await getCollection('weekly')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)

const maxItemsToShow = 3;
const showMorePosts = blogs.length > maxItemsToShow;
const showMoreReports = weekly.length > maxItemsToShow;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="max-w-[900px] mx-auto bg-[#1d2021] text-[#ffffff] text-sm sm:text-base">
		<div class="mx-5">
			<Header />
			<main >
				<div class="pt-10 flex flex-col gap-5">
					<h1 class="text-3xl font-bold">Hi</h1>
					<p>I'm a second year uni student just trying to learn and make cool stuff.</p>
					<p>This is my personal space to share what I'm learning, stay motivated, get better at organizing my thoughts and get everything i want in O(1) complexity.</p>
					<p>You'll find my weekly progress, current projects, blogs, resources and notes here. Its a work in progress.</p>
					<p>Feel free to <a class="font-bold text-[#fe8019] hover:underline" href="https://x.com/quantinium03" target="_blank">message me.</a>
				</div>
				<p class="pt-5"> You can use some vim binding btw to go through this page. Find at <Link url="/shortcuts" name="shortcuts" /> or press <span class="text-gruvred font-bold">Shift + s</span> </p>
				<div class="mt-10">
					<h1 class="text-3xl font-bold text-[#b8bb26] mb-3">Posts</h1>
				</div>
				<section class="mx-auto">
					{blogs.length === 0 ? (
						<p>Work in progress</p>
					):(
						<>
							<ul class="flex gap-2 flex-col">
							{
									blogs.slice(0, maxItemsToShow).map((post) => (
										<li class="flex flex-row gap-2">
											<p>
												<a href={`/blog/${post.slug}/`} class="hover:underline text-[#fe8019]">
													<span class="text-[#fe8019]">{post.data.title}</span>
												</a>
											</p>
											<DateFormat date={String(post.data.pubDate)} />
										</li>
									))
								}
							</ul>
							{showMorePosts && (
								<div class="mt-2">
									<a class="font-bold text-[#fe8019] hover:underline" href="/blog/">Show more...</a>
								</div>
							)}
						</>
					)}
				</section>


				<div class="mt-10">
					<h1 class="text-3xl font-bold text-[#b8bb26] mb-3">Progress Report</h1>
				</div>
				<section class="mx-auto">
					{weekly.length === 0 ? (
						<p>Work in progress </p>
					) : (
						<>
							<ul class="flex gap-2 flex-col">
								{
									
									weekly.slice(0, maxItemsToShow).map((post) => (
										<li class="flex flex-row gap-2">
											<p>
												<a href={`/weekly/${post.slug}/`} class="hover:underline text-[#fe8019]">
													<span class="text-[#fe8019]">{post.data.title}</span>
												</a>
											</p>
											<DateFormat date={String(post.data.pubDate)} />
										</li>
									))
								}
							</ul>
							{
								showMoreReports && (
								<div class="mt-2">
									<a class="font-bold text-[#fe8019] hover:underline" href="/weekly">Show more... </a>
								</div>
							)}
						</>
					)}
				</section>
			</main>
			<Footer />
		</div>
	</body>
</html>

